.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.config/
.dbus/
.esd_auth
.evolution/
.fontconfig/
.gconf/
.gconfd/
.gem/
.gnome2/
.gnote/
.gnupg/
.gstreamer-0.10/
.irssi
.lesshst
.local/
.netrc
.pulse-cookie
.pulse/
.recently-used.xbel
.spice-vdagent/
.ssh/
.thumbnails/
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.vim/
.viminfo
.xsession-errors
.xsession-errors.old
gems/
rails/
workspace/
www/
